label{
    display: inline-block;
    background-color:#14570f;
    width: 10%;
}

table, th, td {
    background-color: rgb(5, 238, 37);
    border: 1px solid black;
}

th{
    background-color: grey;    
}